<div class="d-flex justify-content-center mt-5 pt-5 pb-5 politique">
  <div class="container">
    <div class="card pt-4 pb-4">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="card-header">
            <h2 data-cy="communeDetailsHeading"><span>Conditions d'utilisations</span></h2>
          </div>

          <div class="card-body">
            <h3>1. Conditions</h3>
            <p>
              En accédant au site Web
              <a routerLink="/">BricoVite</a>
              , vous acceptez d'être lié par ces conditions d'utilisation, toutes les lois applicables et réglementations et convenez que
              vous êtes responsable du respect de toutes les lois locales applicables. Si vous n'êtes pas d'accord avec l'une de ces
              conditions, il vous est interdit d'utiliser ou d'accéder à ce site. Les éléments contenus dans ce site Web sont protégés par
              les lois applicables sur le droit d'auteur et les marques de commerce.
            </p>
            <h3>2. Licence d'utilisation</h3>
            <ol>
              <li>
                La permission est accordée de télécharger temporairement une copie du matériel (information ou logiciel) sur le site Web de
                BricoVite pour une visualisation transitoire personnelle et non commerciale uniquement. Il s'agit de l'octroi d'une licence,
                et non d'un transfert de titre, et en vertu de cette licence, vous ne pouvez pas :
                <ol>
                  <li>modifier ou copier le matériel ;</li>
                  <li>utiliser le matériel à des fins commerciales, ou pour tout affichage public (commercial ou non commercial) ;</li>
                  <li>
                    tenter de décompiler ou d'effectuer une ingénierie inverse de tout logiciel contenu sur le site Web de BricoVite ;
                  </li>
                  <li>supprimer tout droit d'auteur ou autres notations exclusives du matériel ; ou</li>
                  <li>transférer le matériel à une autre personne ou « refléter » le matériel sur tout autre serveur.</li>
                </ol>
              </li>
              <li>
                2. Cette licence sera automatiquement résiliée si vous enfreignez aucune de ces restrictions et peut être résilié par
                BricoVite à tout moment. À la fin de votre visionnage de ces documents ou à la résiliation de cette licence, vous devez
                détruire tout matériel téléchargé en votre possession, qu'il soit sous forme électronique ou imprimée.
              </li>
            </ol>
            <h3>3. Clause de non-responsabilité</h3>
            <ol>
              <li>
                1. Le matériel sur le site Web de BricoVite est fourni « tel quel ». BricoVite n'offre aucune garantie, expresse ou
                implicite, et décline et annule par la présente toutes les autres garanties, y compris, sans s'y limiter, les garanties ou
                conditions implicites de qualité marchande, d'adéquation à un usage particulier ou de non-violation de la propriété
                intellectuelle ou autre violation des droits.
              </li>
              <li>
                2. De plus, BricoVite ne garantit ni ne fait aucune déclaration concernant l'exactitude, les résultats probables ou la
                fiabilité de l'utilisation du matériel sur son site Web ou autrement lié à ce matériel ou sur tout site lié à ce site.
              </li>
            </ol>
            <h3>4. Limitations</h3>
            <p>
              En aucun cas BricoVite ou ses fournisseurs ne seront responsables de tout dommage (y compris, sans s'y limiter, les dommages
              pour perte de données ou de profit, ou en raison d'une interruption d'activité) résultant de l'utilisation ou de
              l'impossibilité d'utiliser les matériaux sur le site Web de BricoVite, même si BricoVite ou un représentant autorisé de
              BricoVite a été informé oralement ou par écrit de la possibilité de tels dommages. Étant donné que certaines juridictions
              n'autorisent pas les limitations sur les garanties implicites ou les limitations de responsabilité pour les dommages
              consécutifs ou accessoires, ces limitations peuvent ne pas s'appliquer à vous.
            </p>
            <h3>5. Exactitude des matériaux</h3>
            <p>
              Les matériaux apparaissant sur le site Web de BricoVite peuvent inclure des erreurs techniques, typographiques ou
              photographiques. BricoVite ne garantit pas que les éléments de son site Web sont exacts, complets ou à jour. BricoVite peut
              apporter des modifications aux éléments contenus sur son site Web à tout moment et sans préavis. Cependant BricoVite ne
              s'engage pas à mettre à jour les matériaux.
            </p>
            <h3>6. Liens</h3>
            <p>
              BricoVite n'a pas examiné tous les sites liés à son site Web et n'est pas responsable du contenu de ces sites liés.
              L'inclusion de tout lien n'implique pas l'approbation par BricoVite du site. L'utilisation d'un tel site Web lié est aux
              risques et périls de l'utilisateur.
            </p>
            <h3>7. Modifications</h3>
            <p>
              BricoVite peut réviser ces conditions d'utilisation de son site Web à tout moment et sans préavis. En utilisant ce site Web,
              vous acceptez d'être lié par la version alors en vigueur de ces conditions d'utilisation.
            </p>
            <h3>8. Droit applicable</h3>
            <p>
              Ces termes et conditions sont régis et interprétés conformément aux lois de BricoVite et vous vous soumettez irrévocablement à
              la juridiction exclusive des tribunaux de cet État ou lieu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
