<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="note">
      <h2 data-cy="noteDetailsHeading"><span jhiTranslate="bricoviteApp.note.detail.title">Note</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ note.id }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.note.valeur">Valeur</span></dt>
        <dd>
          <span>{{ note.valeur }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.note.annonce">Annonce</span></dt>
        <dd>
          <div *ngIf="note.annonce">
            <a [routerLink]="['/annonce', note.annonce?.id, 'view']">{{ note.annonce?.titre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/note', note.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
