<section class="mt-5 pt-5 pb-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 id="page-heading" data-cy="ActiviteHeading">
          <span jhiTranslate="bricoviteApp.activite.home.title">Activites</span>

          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-bricoVite btnCercle me-2" (click)="loadPage()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
              <span jhiTranslate="bricoviteApp.activite.home.refreshListLabel">Refresh List</span>
            </button>

            <button
              id="jh-create-entity"
              data-cy="entityCreateButton"
              class="btn btn-outline-bricoVite btnCercle jh-create-entity create-activite"
              [routerLink]="['/activite/new']"
            >
              <fa-icon icon="plus"></fa-icon>
              <span jhiTranslate="bricoviteApp.activite.home.createLabel"> Create a new Activite </span>
            </button>
          </div>
        </h2>
      </div>
      <div class="card-body">
        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" id="no-result" *ngIf="activites?.length === 0">
          <span jhiTranslate="bricoviteApp.activite.home.notFound">No activites found</span>
        </div>

        <div class="table-responsive" id="entities" *ngIf="activites && activites.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col" jhiSortBy="nomFr">
                  <span jhiTranslate="bricoviteApp.activite.nomFr">Nom Fr</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="nomAr">
                  <span jhiTranslate="bricoviteApp.activite.nomAr">Nom Ar</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="categorieFr">
                  <span jhiTranslate="bricoviteApp.activite.categorieFr">Categorie Fr</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="categorieAr">
                  <span jhiTranslate="bricoviteApp.activite.categorieAr">Categorie Ar</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="categorie.nomFr">
                  <span jhiTranslate="bricoviteApp.activite.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activite of activites; trackBy: trackId" data-cy="entityTable">
                <td>
                  <a [routerLink]="['/activite', activite.id, 'view']">{{ activite.id }}</a>
                </td>
                <td>{{ activite.nomFr }}</td>
                <td>{{ activite.nomAr }}</td>
                <td>{{ activite.categorieFr }}</td>
                <td>{{ activite.categorieAr }}</td>
                <td>
                  <div *ngIf="activite.categorie">
                    <a [routerLink]="['/categorie', activite.categorie?.id, 'view']">{{ activite.categorie?.nomFr }}</a>
                  </div>
                </td>
                <td class="text-end">
                  <div class="btn-group">
                    <button
                      type="submit"
                      [routerLink]="['/activite', activite.id, 'view']"
                      class="btn btn-outline-info btn-sm"
                      data-cy="entityDetailsButton"
                    >
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>

                    <button
                      type="submit"
                      [routerLink]="['/activite', activite.id, 'edit']"
                      class="btn btn-outline-bricoVite btn-sm"
                      data-cy="entityEditButton"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>

                    <button type="submit" (click)="delete(activite)" class="btn btn-outline-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="activites && activites.length > 0">
          <div class="d-flex justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
          </div>

          <div class="d-flex justify-content-center">
            <ngb-pagination
              [collectionSize]="totalItems"
              [(page)]="ngbPaginationPage"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadPage($event)"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
