<footer class="footer bg-light">
  <div class="container">
    <div class="card">
    <div class="row">
      <div class="col-md-3 mb-2 mb-md-0">
          <div class="card-block col-12">
            <div class="card-header col-12 text-center">
              <p class="h6">Mentions légales</p>
            </div>
            <div class="col-12 text-center">
              <div>
                <p>
                  <a routerLink="/politiqueConfidentialite">Politique de confidentialité</a><br>
                  <a href="#">Conditions d'utilisation</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3 mb-2 mb-md-0">
          <div class="card-block col-12">
            <div class="card-header col-12 text-center">
              <p class="h6">À propos de nous</p>
            </div>
            <div class="col-12 text-center">
              <div>
                <p>
                  <a href="#">Qui Sommes-Nous?</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3 mb-2 mb-md-0">
          <div class="card-block col-12">
            <div class="card-header col-12 text-center">
              <p class="h6">Langues</p>
            </div>
            <div class="col-12 text-center">
              <div>
                <p>
                  Répondre aux annonces.
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3 mb-2 mb-md-0">
          <div class="card-block col-12">
            <div class="card-header col-12 text-center">
              <p class="h6">Suivez-Nous</p>
            </div>
            <div class="col-12 text-center">
              <div>
                <p>
                  Répondre aux annonces.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <p class="text-center copyright">BricoVite &COPY; 2022</p>
      </div>
    </div>
  </div>
</footer>
