<div class="d-flex justify-content-center mt-5 pt-5 pb-5">
  <div class="container">
    <jhi-alert-error></jhi-alert-error>

    <div class="card pt-4 pb-4">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-region-heading" data-cy="RegionCreateUpdateHeading" jhiTranslate="bricoviteApp.region.home.createOrEditLabel">
              Create or edit a Region
            </h2>

            <div>
              <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="bricoviteApp.region.codeReg" for="field_codeReg">Code Reg</label>
                <input type="number" class="form-control" name="codeReg" id="field_codeReg" data-cy="codeReg" formControlName="codeReg" />
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="bricoviteApp.region.nomFr" for="field_nomFr">Nom Fr</label>
                <input type="text" class="form-control" name="nomFr" id="field_nomFr" data-cy="nomFr" formControlName="nomFr" />
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="bricoviteApp.region.nomAr" for="field_nomAr">Nom Ar</label>
                <input type="text" class="form-control" name="nomAr" id="field_nomAr" data-cy="nomAr" formControlName="nomAr" />
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="bricoviteApp.region.geometry" for="field_geometry">Geometry</label>
                <input type="text" class="form-control" name="geometry" id="field_geometry" data-cy="geometry" formControlName="geometry" />
              </div>
            </div>

            <div>
              <button
                type="button"
                id="cancel-save"
                data-cy="entityCreateCancelButton"
                class="btn btn-outline-secondary btnCercle float-end"
                (click)="previousState()"
              >
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>

              <button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid || isSaving"
                class="btn btn-outline-bricoVite btnCercle float-end me-2"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
