<div class="d-flex justify-content-center mt-5 pt-5 pb-5">
  <div class="container">
    <div class="card pt-4 pb-4">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div *ngIf="activite">
            <div class="card-header">
              <h2 data-cy="activiteDetailsHeading"><span jhiTranslate="bricoviteApp.activite.detail.title">Activite</span></h2>
            </div>
            <div class="card-body">
              <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                  <span>{{ activite.id }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.activite.nomFr">Nom Fr</span></dt>
                <dd>
                  <span>{{ activite.nomFr }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.activite.nomAr">Nom Ar</span></dt>
                <dd>
                  <span>{{ activite.nomAr }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.activite.categorieFr">Categorie Fr</span></dt>
                <dd>
                  <span>{{ activite.categorieFr }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.activite.categorieAr">Categorie Ar</span></dt>
                <dd>
                  <span>{{ activite.categorieAr }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.activite.categorie">Categorie</span></dt>
                <dd>
                  <div *ngIf="activite.categorie">
                    <a [routerLink]="['/categorie', activite.categorie?.id, 'view']">{{ activite.categorie?.nomFr }}</a>
                  </div>
                </dd>
              </dl>

              <button type="submit" (click)="previousState()" class="btn btn-outline-info btnCercle" data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
              </button>

              <button type="button" [routerLink]="['/activite', activite.id, 'edit']" class="btn btn-outline-bricoVite btnCercle">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
