<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="activite">
      <h2 data-cy="activiteDetailsHeading"><span jhiTranslate="bricoviteApp.activite.detail.title">Activite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ activite.id }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.activite.nomFr">Nom Fr</span></dt>
        <dd>
          <span>{{ activite.nomFr }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.activite.nomAr">Nom Ar</span></dt>
        <dd>
          <span>{{ activite.nomAr }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.activite.categorieFr">Categorie Fr</span></dt>
        <dd>
          <span>{{ activite.categorieFr }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.activite.categorieAr">Categorie Ar</span></dt>
        <dd>
          <span>{{ activite.categorieAr }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.activite.categorie">Categorie</span></dt>
        <dd>
          <div *ngIf="activite.categorie">
            <a [routerLink]="['/categorie', activite.categorie?.id, 'view']">{{ activite.categorie?.nomFr }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/activite', activite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
