<section class="mt-5 pt-5 pb-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 id="page-heading" data-cy="ProvinceHeading">
          <span jhiTranslate="bricoviteApp.province.home.title">Provinces</span>

          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-bricoVite btnCercle me-2" (click)="loadPage()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
              <span jhiTranslate="bricoviteApp.province.home.refreshListLabel">Refresh List</span>
            </button>

            <button
              id="jh-create-entity"
              data-cy="entityCreateButton"
              class="btn btn-outline-bricoVite btnCercle jh-create-entity create-province"
              [routerLink]="['/province/new']"
            >
              <fa-icon icon="plus"></fa-icon>
              <span jhiTranslate="bricoviteApp.province.home.createLabel"> Create a new Province </span>
            </button>
          </div>
        </h2>
      </div>
      <div class="card-body">
        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" id="no-result" *ngIf="provinces?.length === 0">
          <span jhiTranslate="bricoviteApp.province.home.notFound">No provinces found</span>
        </div>

        <div class="table-responsive" id="entities" *ngIf="provinces && provinces.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col" jhiSortBy="codeReg">
                  <span jhiTranslate="bricoviteApp.province.codeReg">Code Reg</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="codeProv">
                  <span jhiTranslate="bricoviteApp.province.codeProv">Code Prov</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="nomFr">
                  <span jhiTranslate="bricoviteApp.province.nomFr">Nom Fr</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="nomAr">
                  <span jhiTranslate="bricoviteApp.province.nomAr">Nom Ar</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="regionFr">
                  <span jhiTranslate="bricoviteApp.province.regionFr">Region Fr</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="regionAr">
                  <span jhiTranslate="bricoviteApp.province.regionAr">Region Ar</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="geometry">
                  <span jhiTranslate="bricoviteApp.province.geometry">Geometry</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="region.nomFr">
                  <span jhiTranslate="bricoviteApp.province.region">Region</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let province of provinces; trackBy: trackId" data-cy="entityTable">
                <td>
                  <a [routerLink]="['/province', province.id, 'view']">{{ province.id }}</a>
                </td>
                <td>{{ province.codeReg }}</td>
                <td>{{ province.codeProv }}</td>
                <td>{{ province.nomFr }}</td>
                <td>{{ province.nomAr }}</td>
                <td>{{ province.regionFr }}</td>
                <td>{{ province.regionAr }}</td>
                <td>{{ province.geometry }}</td>
                <td>
                  <div *ngIf="province.region">
                    <a [routerLink]="['/region', province.region?.id, 'view']">{{ province.region?.nomFr }}</a>
                  </div>
                </td>
                <td class="text-end">
                  <div class="btn-group">
                    <button
                      type="submit"
                      [routerLink]="['/province', province.id, 'view']"
                      class="btn btn-outline-info btn-sm"
                      data-cy="entityDetailsButton"
                    >
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>

                    <button
                      type="submit"
                      [routerLink]="['/province', province.id, 'edit']"
                      class="btn btn-outline-bricoVite btn-sm"
                      data-cy="entityEditButton"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>

                    <button type="submit" (click)="delete(province)" class="btn btn-outline-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="provinces && provinces.length > 0">
          <div class="d-flex justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
          </div>

          <div class="d-flex justify-content-center">
            <ngb-pagination
              [collectionSize]="totalItems"
              [(page)]="ngbPaginationPage"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadPage($event)"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
