<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="annonce">
      <h2 data-cy="annonceDetailsHeading">{{ annonce.titre }}</h2>
      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt></dt>
        <dd>
          <ngb-carousel *ngIf="annonce.photos" style="width: 60%; height: 300px">
            <ng-template *ngFor="let photo of annonce.photos" ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image" style="width: 100%; height: 300px" />
              </div>
              <div class="carousel-caption">
                <h3>Bricovite</h3>
              </div>
            </ng-template>
          </ngb-carousel>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.titre">Titre</span></dt>
        <dd>
          <span>{{ annonce.titre }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.description">Description</span></dt>
        <dd>
          <span>{{ annonce.description }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.adresse">Adresse</span></dt>
        <dd>
          <span>{{ annonce.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.dateAnnonce">Date Annonce</span></dt>
        <dd>
          <span>{{ annonce.dateAnnonce | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.user">User</span></dt>
        <dd>
          <div *ngIf="annonce.user">
            <a>{{ annonce.user?.login }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="">Catégorie</span></dt>
        <dd>
          <span>{{ annonce.activite?.categorieFr }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.activite">Activite</span></dt>
        <dd>
          <span>{{ annonce.activite?.nomFr }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.note">Note</span></dt>
        <dd *ngIf="annonce.notes">
          <div>
            <span>{{ moy(annonce.notes) | number: '1.2-2' }}</span>
          </div>

          <button type="button" (click)="updateRating()">Update Rating</button>
          <ngb-rating class="ngb-rating" [max]="5" [(rate)]="rating" [readonly]="true">
            <ng-template let-fill="fill">
              <span class="defaultStar" [class.filled]="fill === 100" [class.notfilled]="fill === 0">
                <span class="paintedStar" [style.width.%]="fill">★</span>★
              </span>
            </ng-template>
          </ngb-rating>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button class="btn btn-info" (click)="goToPersonneDetails(annonce.user?.id)">Contacter</button>
      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commentaire"
        (click)="addComment(commentaire)"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bricoviteApp.commentaire.home.createLabel"> Create a new commentaire </span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_USER'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-note"
        (click)="addRating(note)"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bricoviteApp.note.home.createLabel"> Create a new note </span>
      </button>
      <button
        *jhiHasAnyAuthority="'ROLE_PRESTATAIRE'"
        class="btn btn-info"
        [hidden]="annonce.user?.id != userConnect"
        [routerLink]="['/annonce', annonce.id, 'photos']"
      >
        Edit photos
      </button>
      <dl>
        <dt>Commentaires</dt>
        <p *ngFor="let commentaire of annonce.commentaires">
          <dd>
            {{ commentaire.user?.login }}
            {{ commentaire.details }}
            <br />
            {{ commentaire.dateCommentaire }}
          </dd>
        </p>
      </dl>
    </div>
  </div>
</div>
