<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="annonce">
      <h2 data-cy="annonceDetailsHeading"><span jhiTranslate="bricoviteApp.annonce.detail.title">Annonce</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <!-- <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ annonce.id }}</span>
        </dd> -->
        <dt><span jhiTranslate="bricoviteApp.annonce.titre">Titre</span></dt>
        <dd>
          <span>{{ annonce.titre }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.description">Description</span></dt>
        <dd>
          <span>{{ annonce.description }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.adresse">Adresse</span></dt>
        <dd>
          <span>{{ annonce.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.geometry">Geometry</span></dt>
        <dd>
          <span>{{ annonce.geometry }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.status">Status</span></dt>
        <dd>
          <span>{{ annonce.status }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.user">User</span></dt>
        <dd>
          <span>{{ annonce.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.commune">Commune</span></dt>
        <dd>
          <div *ngIf="annonce.commune">
            <a [routerLink]="['/commune', annonce.commune?.id, 'view']">{{ annonce.commune?.nomFr }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bricoviteApp.annonce.activite">Activite</span></dt>
        <dd>
          <div *ngIf="annonce.activite">
            <a [routerLink]="['/activite', annonce.activite?.id, 'view']">{{ annonce.activite?.nomFr }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" 
        [hidden]="annonce.user?.id != userConnect " 
        [routerLink]="['/annonce', annonce.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
