<div class="d-flex justify-content-center mt-5 pt-5 pb-5 politique">
  <div class="container">
    <div class="card pt-4 pb-4">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="card-header">
            <h2 data-cy="communeDetailsHeading"><span>Politique de confidentialité</span></h2>
          </div>

          <div class="card-body">
            <p>
              Votre vie privée est importante pour nous. La politique de <strong>BricoVite</strong>
              est de respecter votre vie privée concernant toute information que nous pouvons recueillir auprès de vous sur notre site Web,
              <a routerLink="/">BricoVite</a>, et d'autres sites que nous possédons et exploitons.
            </p>
            <p>
              Nous ne demandons des informations personnelles que lorsque nous en avons vraiment besoin pour vous fournir un service. Nous
              les collectons par des moyens loyales et licites, avec votre connaissance et votre consentement. Nous vous expliquons
              également pourquoi nous le collectons et comment il sera utilisé.
            </p>
            <p>
              Nous ne conservons les informations collectées que le temps nécessaire pour vous fournir le service que vous avez demandé.
              Nous protégerons les données que nous stockons par des moyens commercialement acceptables pour prévenir la perte et le vol,
              ainsi que l'accès, la divulgation, la copie, l'utilisation ou la modification non autorisés.
            </p>
            <p>
              Nous ne partageons publiquement aucune information d'identification personnelle ou avec des tiers, sauf lorsque la loi
              l'exige.
            </p>
            <p>
              Notre site Web peut contenir des liens vers des sites externes qui ne sont pas exploités par nous. Veuillez noter que nous
              n'avons aucun contrôle sur le contenu et les pratiques de ces sites et que nous ne pouvons accepter aucune responsabilité
              quant à leurs politiques de confidentialité respectives.
            </p>
            <p>
              Vous êtes libre de refuser notre demande d'informations personnelles, étant entendu que nous ne pourrons peut-être pas vous
              fournir certains des services que vous souhaitez.
            </p>
            <p>
              Votre utilisation continue de notre site Web sera considérée comme une acceptation de nos pratiques en matière de
              confidentialité et d'informations personnelles. Si vous avez des questions sur la manière dont nous traitons les données des
              utilisateurs et les informations personnelles, n'hésitez pas à nous contacter.
            </p>
            <h2>
              <strong>Politique de Cookies</strong> pour
              <strong>BricoVite</strong>
            </h2>
            <p>Ceci est la Politique de Cookies pour <strong>BricoVite</strong>, accessible à partir de l'URL</p>
            <h3>Que sont les cookies</h3>
            <p>
              Comme c'est la pratique courante avec presque tous les sites Web professionnels, ce site utilise des cookies, qui sont de
              petits fichiers téléchargés sur votre ordinateur, pour améliorer votre expérience. Cette page décrit les informations qu'ils
              recueillent, comment nous les utilisons et pourquoi nous avons parfois besoin de stocker ces cookies. Nous partagerons
              également comment vous pouvez empêcher le stockage de ces cookies, mais cela peut dégrader ou "casser" certains éléments de la
              fonctionnalité des sites.
            </p>
            <h3>Comment nous utilisons les cookies</h3>
            <p>
              Nous utilisons des cookies pour diverses raisons détaillées ci-dessous. Malheureusement, dans la plupart des cas, il n'existe
              pas d'options standard de l'industrie pour désactiver les cookies sans désactiver complètement les fonctionnalités et
              fonctionnalités qu'ils ajoutent à ce site. Il est recommandé de laisser tous les cookies si vous n'êtes pas sûr d'en avoir
              besoin ou non au cas où ils seraient utilisés pour fournir un service que vous utilisez.
            </p>
            <h3>Désactivation des cookies</h3>
            <p>
              Vous pouvez empêcher l'installation de cookies en ajustant les paramètres de votre navigateur (voir l'aide de votre navigateur
              pour savoir comment procéder). Sachez que la désactivation des cookies affectera la fonctionnalité de ce site et de nombreux
              autres sites Web que vous visitez. La désactivation des cookies entraînera généralement la désactivation de certaines
              fonctionnalités et caractéristiques de ce site. Il est donc recommandé de ne pas désactiver les cookies.
            </p>
            <h3>Les cookies que nous installons</h3>
            <ul>
              <li>
                Cookies liés au compte <br />
                Si vous créez un compte chez nous, nous utiliserons des cookies pour la gestion du processus d'inscription et
                l'administration générale. Ces cookies sont généralement supprimés lorsque vous vous déconnectez, mais dans certains cas,
                ils peuvent rester par la suite pour mémoriser vos préférences de site lorsque vous vous déconnectez.
              </li>
              <li>
                Cookies liés à la connexion <br />
                Nous utilisons des cookies lorsque vous êtes connecté afin que nous pouvons nous souvenir de ce fait. Cela vous évite
                d'avoir à vous connecter à chaque fois que vous visitez une nouvelle page. Ces cookies sont généralement supprimés ou
                effacés lorsque vous vous déconnectez pour vous assurer que vous ne pouvez accéder qu'aux fonctionnalités et zones
                restreintes lorsque vous êtes connecté.
              </li>
              <li>
                Cookies liés aux newsletters par e-mail <br />
                <br />
                Ce site propose une newsletter ou un abonnement par e-mail des services et des cookies peuvent être utilisés pour se
                souvenir si vous êtes déjà inscrit et si vous souhaitez afficher certaines notifications qui pourraient n'être valables que
                pour les utilisateurs abonnés/désabonnés.
              </li>
              <li>
                Commandes traitant les cookies associés <br />
                Ce site propose un e-commerce ou les facilités de paiement et certains cookies sont essentiels pour s'assurer que votre
                commande est mémorisée entre les pages afin que nous puissions la traiter correctement.
              </li>
              <li>
                Cookies liés aux enquêtes <br />
                De temps en temps, nous proposons des enquêtes et des questionnaires aux utilisateurs pour fournir vous avec des
                informations intéressantes, des outils utiles ou pour comprendre plus précisément notre base d'utilisateurs. Ces enquêtes
                peuvent utiliser des cookies pour se rappeler qui a déjà participé à une enquête ou pour vous fournir des résultats précis
                après avoir changé de page.
              </li>
              <li>
                Cookies liés aux formulaires <br />
                Lorsque vous soumettez des données à via un formulaire tel que ceux qui se trouvent sur les pages de contact ou les
                formulaires de commentaires peuvent être configurés pour mémoriser vos informations d'utilisateur pour une correspondance
                future.
              </li>
              <li>
                Cookies de préférences du site <br />
                Afin de vous offrir une excellente expérience sur ce site, nous fournissons la fonctionnalité définir vos préférences quant
                au fonctionnement de ce site lorsque vousutilise le. Afin de mémoriser vos préférences, nous devons définir des cookies afin
                que ces informations puissent être appelées chaque fois que vous interagissez avec une page affectée par vos préférences.
              </li>
            </ul>
            <h3>Cookies tiers</h3>
            <p>
              Dans certains cas particuliers, nous utilisons également des cookies fournis par des tiers de confiance. La section suivante
              détaille les cookies tiers que vous pourriez rencontrer via ce site.
            </p>
            <ul>
              <li>
                Ce site utilise Google Analytics qui est l'une des solutions d'analyse les plus répandues et les plus fiables sur le Web
                pour nous aider à comprendre comment vous utilisez le site et comment nous pouvons améliorer votre expérience. Ces cookies
                peuvent suivre des éléments tels que le temps que vous passez sur le site et les pages que vous visitez afin que nous
                puissions continuer à produire un contenu attrayant. Pour plus d'informations sur les cookies de Google Analytics, consultez
                la page officielle de Google Analytics.
              </li>
              <li>
                Les analyses de tiers sont utilisées pour suivre et mesurer l'utilisation de ce site afin que nous puissions continuer à
                produire du contenu attrayant. Ces cookies peuvent suivre des éléments tels que le temps que vous passez sur le site ou les
                pages que vous visitez, ce qui nous aide à comprendre comment nous pouvons améliorer le site pour vous.
              </li>
              <li>
                De temps en temps, nous testons de nouvelles fonctionnalités et apportons des modifications subtiles modifications de la
                manière dont le site est livré. Lorsque nous testons encore de nouvelles fonctionnalités, ces cookies peuvent être utilisés
                pour garantir que vous recevez une expérience cohérente sur le site tout en nous assurant que nous comprenons quelles
                optimisations nos utilisateurs apprécient le plus.
              </li>
              <li>
                Comme nous vendons des produits, il est important pour nous permet de comprendre les statistiques sur le nombre de visiteurs
                de notre site qui effectuent réellement un achat et, à ce titre, c'est le type de données que ces cookies suivront. Ceci est
                important pour vous car cela signifie que nous pouvons faire des prévisions commerciales précises qui nous permettent de
                surveiller nos coûts publicitaires et de produits afin de garantir le meilleur prix possible.
              </li>
              <li>
                Nous utilisons également des boutons de médias sociaux et /ou plugins sur ce site qui vous permettent de vous connecter à
                votre réseau social de différentes manières. Pour que ceux-ci fonctionnent, les sites de médias sociaux suivants, notamment;
                (Listez les réseaux sociaux dont les fonctionnalités que vous avez intégrées à votre site), installeront des cookies via
                notre site qui peuvent être utilisés pour améliorer votre profil sur leur site ou contribuer aux données qu'ils détiennent à
                diverses fins décrites dans leur confidentialité respective politiques.
              </li>
            </ul>
            <h2>Plus d'informations</h2>
            <p>
              J'espère que cela a clarifié les choses pour vous et, comme mentionné précédemment, s'il y a quelque chose dont vous n'êtes
              pas sûr d'avoir besoin ou non, c'est généralement plus sûr de laisser les cookies activés au cas où ils interagissent avec
              l'une des fonctionnalités que vous utilisez sur notre site.
            </p>
            <p>Cette politique est en vigueur depuis <strong>juillet</strong> <strong>2022</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
