<div class="d-flex justify-content-center mt-5 pt-5 pb-5 politique">
  <div class="container">
    <div class="card pt-4 pb-4">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="card-header">
            <h2 data-cy="communeDetailsHeading"><span>Qui Sommes-Nous?</span></h2>
          </div>

          <div class="card-body">
            <p>
              <a routerLink="/">BricoVite</a> est une plateforme de mise en relation pour la réalisation des services ou d'aides entre
              particuliers ou professionels. Elle permet ainsi aux Utilisateurs de proposer des services ou de créer des annonces de
              services en se basant principalement sur les affinités géographiques.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
