<div class="d-flex justify-content-center mt-5 pt-5 pb-5">
  <div class="container">
    <div class="card pt-4 pb-4">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div *ngIf="photo">
            <div class="card-header">
              <h2 data-cy="photoDetailsHeading"><span jhiTranslate="bricoviteApp.photo.detail.title">Photo</span></h2>
            </div>
            <div class="card-body">
              <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                  <span>{{ photo.id }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.photo.url">Url</span></dt>
                <dd>
                  <span>{{ photo.url }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.photo.libelle">Libelle</span></dt>
                <dd>
                  <span>{{ photo.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.photo.image">Image</span></dt>
                <dd>
                  <div *ngIf="photo.image">
                    <a (click)="openFile(photo.image, photo.imageContentType)">
                      <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image" style="max-width: 100%" alt="photo image" />
                    </a>
                    {{ photo.imageContentType }}, {{ byteSize(photo.image) }}
                  </div>
                </dd>
                <dt><span jhiTranslate="bricoviteApp.photo.annonce">Annonce</span></dt>
                <dd>
                  <div *ngIf="photo.annonce">
                    <a [routerLink]="['/annonce', photo.annonce?.id, 'view']">{{ photo.annonce?.id }}</a>
                  </div>
                </dd>
              </dl>

              <button type="submit" (click)="previousState()" class="btn btn-outline-info btnCercle" data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
              </button>

              <!-- <button type="button" [routerLink]="['/photo', photo.id, 'edit']" class="btn btn-outline-bricoVite btnCercle">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
